body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
.btn-primary {
  background-color: #1b1b1b;
  color: aliceblue;
}

main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 90%;
}
.label-wrapper {
  font-weight: bold !important;
}
.img-thumbnail {
  height: 5rem;
}
.small-container {
  max-width: 25rem;
  /* max-width: 600px; */
}
.Icon-Trash {
  border-radius: 60%;
}
.Icon-Quantity {
  border-radius: 48%;
}
